In [20]:
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [22]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder 
from sklearn.metrics import accuracy_score

In [4]:
data = pd.read_csv('titanic.csv')

In [5]:
data.age.fillna(data.age.mode()[0], inplace = True)

In [6]:
data.deck.fillna(data.deck.mode()[0], inplace = True)

In [7]:
data.embark_town.fillna(data.embark_town.mode()[0], inplace = True)

In [8]:
target = data['survived']
data = data.drop('survived', axis = 1)

In [9]:
Me = [data.pclass.mode()[0], 'female', 33.0, 1, 2, data.fare.mode()[0], data.embarked.mode()[0], data['class'].mode()[0], 'woman', True, data.deck.mode()[0], data.embark_town.mode()[0], 'yes', True]
data.loc[891] = Me

In [10]:
le = LabelEncoder() # Initialization of Encoder

data['sex'] = le.fit_transform(data['sex']) # Encode of of columns where we can find str
data['class'] = le.fit_transform(data['class'])
data['who'] = le.fit_transform(data['who'])
data['deck'] = le.fit_transform(data['deck'])
data['embarked'] = le.fit_transform(data['embarked'])
data['adult_male'] = le.fit_transform(data['adult_male'])
data['embark_town'] = le.fit_transform(data['embark_town'])
data['alive'] = le.fit_transform(data['alive'])
data['alone'] = le.fit_transform(data['alone'])

In [17]:
target.loc[891] = 1

In [19]:
x_train, x_test, y_train, y_test = train_test_split(data, target, test_size = 0.2, random_state = 0)

In [21]:
RFC = RandomForestClassifier() 
RFC.fit(x_train, y_train)

RandomForestClassifier()

In [23]:
pred_RFC_train = RFC.predict(x_train)
pred_RFC_test = RFC.predict(x_test)

print('Правильность на обучающем наборе:', np.round(accuracy_score(y_train, pred_RFC_train), 2))
print('Правильность на тестовом наборе:', np.round(accuracy_score(y_test, pred_RFC_test), 2))

Правильность на обучающем наборе: 1.0
Правильность на тестовом наборе: 1.0

In [24]:
{el:0 for el in data}

{'pclass': 0,
 'sex': 0,
 'age': 0,
 'sibsp': 0,
 'parch': 0,
 'fare': 0,
 'embarked': 0,
 'class': 0,
 'who': 0,
 'adult_male': 0,
 'deck': 0,
 'embark_town': 0,
 'alive': 0,
 'alone': 0}

In [25]:
data

,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,3,1,22.0,1,0,7.2500,2,2,1,1,2,2,0,0
1,1,0,38.0,1,0,71.2833,0,0,2,0,2,0,1,0
2,3,0,26.0,0,0,7.9250,2,2,2,0,2,2,1,1
3,1,0,35.0,1,0,53.1000,2,0,2,0,2,2,1,0
4,3,1,35.0,0,0,8.0500,2,2,1,1,2,2,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
887,1,0,19.0,0,0,30.0000,2,0,2,0,1,2,1,1
888,3,0,24.0,1,2,23.4500,2,2,2,0,2,2,0,0
889,1,1,26.0,0,0,30.0000,0,0,1,1,2,0,1,1
890,3,1,32.0,0,0,7.7500,1,2,1,1,2,1,0,1
891,3,0,33.0,1,2,8.0500,2,2,2,1,2,2,1,1

In [45]:
me = {'pclass': 3,
 'sex': 1,
 'age': 16.0,
 'sibsp': 0,
 'parch': 0,
 'fare': 7.3000,
 'embarked': 1,
 'class': 2,
 'who': 1,
 'adult_male': 0,
 'deck': 2,
 'embark_town': 1,
 'alive': 0,
 'alone': 1}

In [46]:
me =  pd.DataFrame(data = [me])

In [47]:
prediction = RFC.predict(me)
print(prediction)

[0]

In [44]:
target

0      0
1      1
2      1
3      1
4      0
      ..
887    1
888    0
889    1
890    0
891    1
Name: survived, Length: 892, dtype: int64